body{
    background: linear-gradient(rgb(211, 160, 159), rgb(119, 113, 113));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color:white;
}
#p1{
    color:rgb(211, 160, 159);
}
#p2{
    border-style:solid;
    border-width: 4px;
    border-color:pink;
    border-radius: 10px;
    padding: 5px;
    color:white;
    font-size: 20px;
    
}